.DS_Store
**/.DS_Store
__pycache__/
*.pyc


# Photo intake: originals stay out of git. Only assets/photos/ (built) is committed.
_incoming/
Village_Image/images/
Village_Image/video_extractions/
tools/realesrgan/

